# **1. Checking whether the element exists in list or not**

In [ ]:
lst = [1,6,5,3,7,4]
n = int(input("Enter no. : "))
if n in lst:
  print("YES")
else:
  print("NO")

Enter no. : 6
YES

# **2. Interchanging of elements in a list**

In [ ]:
# Method 1:- Finfd the length of list & swap 1st & last element

temp = 0
def swapList(lst):
  temp = lst[0]
  lst[0] = lst[-1]
  lst[-1] = temp
  return lst
lst = [12,19,35,56,24]
print(swapList(lst))

[24, 19, 35, 56, 12]

In [ ]:
# Method 2:-
def swapList(lst):
  lst[0],lst[-1] = lst[-1],lst[0]
  return lst
lst = [12,19,35,56,24]
print(swapList(lst))

[24, 19, 35, 56, 12]

# **3. Multiplication of elements of a list**

In [ ]:
def Multiplication(lst):
  res = 1
  for i in lst:
    res *= i
  return res
lst = [1,2,3,4,5]
print("Product :",Multiplication(lst))

Product : 120

# **4. Reversing a list**

In [ ]:
# Method 1:- 

def Reverse(lst):
  res = lst[::-1]
  return res
lst = [10,11,12,13,14,15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [ ]:
# MEthod 2:- Using reverse() fn.

def Reverse(lst):
  lst.reverse()
  return lst
lst = [10,11,12,13,14,15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [ ]:
# Method 3:- Using reversed() fn.

def Reverse(lst):
  return [le for ele in reversed(lst)]
lst = [10,11,12,13,14,15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

# **5. Sum of elements in a list**

In [ ]:
# Method 1:-Using for loop

lst = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in lst:
  sum += i
print("SUM :",sum)

SUM : 55

In [ ]:
# Method 2:-Using while loop

lst = [1,2,3,4,5,6,7,8,9,10]
sum = 0
i = 0
while i<len(lst):
  sum += lst[i]
  i += 1
print("SUM :",sum)

SUM : 55

# **6.Swap two elements in a List**

In [ ]:
def SwapList(lst,pos1,pos2):
  lst[pos1],lst[pos2] = lst[pos2],lst[pos1]
  return lst
lst = [23,65,19,90,69]
pos1,pos2 = 1,3
print(SwapList(lst,pos1,pos2))

[23, 90, 19, 65, 69]

# **7. To clear a List**

In [ ]:
# Method 1:-Using clear()

lst = [6,0,4,2,7]
print("List Before :",lst)
lst.clear()
print("List After :",lst)

List Before : [6, 0, 4, 2, 7]
List After : []

In [ ]:
# Method 2:-Using '*=0' operator

lst = [6,0,4,2,7]
print("List Before :",lst)
lst *= 0
print("List After :",lst)

List Before : [6, 0, 4, 2, 7]
List After : []

In [ ]:
 # Method 3:-Using 'del'

lst = [6,0,4,2,7]
print("List Before :",lst)
del lst[:]   
print("List After :",lst)

List Before : [6, 0, 4, 2, 7]
List After : []

# **8. Reversing a List**

In [ ]:
# Method 1:-Using slicing technique

def Reverse(lst):
  new_List = lst[::-1]
  return new_List
lst = [10,11,12,13,14,15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [ ]:
# Method 2:-Using reverse() fn.

def Reverse(lst):
  lst.reverse()
  return lst
lst = [10,11,12,13,14,15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [ ]:
# Method 3:-Using reversed() fn.

def Reverse(lst):
  return [ele for ele in reversed(lst)]
lst = [10,11,12,13,14,15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

# **9. To find smallest no. in a List**

In [ ]:
# Method 1:-Using min() fn.

lst = [10,20,29,11,100]
print(lst)
print("SMALLEST :",min(lst))

[10, 20, 29, 11, 100]
SMALLEST : 10

In [ ]:
# Method 2:-Using sort() fn.

lst = [10,20,29,11,100]
print(lst)
lst.sort()
print("SMALLEST :",lst[0])

[10, 20, 29, 11, 100]
SMALLEST : 10

In [ ]:
# Method 3:-

lst = [20,29,10,11,100]
print(lst)
Min = lst[0]
for i in range(len(lst)):
  if lst[i] < Min:
    Min = lst[i]
print("SMALLEST :",Min)

[20, 29, 10, 11, 100]
SMALLEST : 10

# **10. To find Largest no. in a list**

In [ ]:
# Method 1:-Using max() fn.

lst = [10,20,100,29,11]
print(lst)
print("LARGEST :",max(lst))

[10, 20, 100, 29, 11]
LARGEST : 100

In [ ]:
# Method 2:-Using sort() fn.

lst = [10,20,100,29,11]
print(lst)
lst.sort()
print("LARGEST :",lst[-1])

[10, 20, 100, 29, 11]
LARGEST : 100

In [ ]:
lst = [10,20,100,29,11]
print(lst)
Max = lst[0]
for i in range(len(lst)):
  if lst[i] > Max:
    Max = lst[i]
print("LARGEST :",Max)

[10, 20, 100, 29, 11]
LARGEST : 100

# **11. To find 2nd largest no. in a list**

In [ ]:
# Method 1:-

lst = [10,20,4,45,99]
print(lst)
lst.sort()
print("SECOND LARGEST :",lst[-2])

[10, 20, 4, 45, 99]
SECOND LARGEST : 45

In [ ]:
# Method 2:-Remove the max element from lst using remove() and print the next max element from list

lst = [10,20,4,45,99]
print(lst)
lst.remove(max(lst))
print("SECOND LARGEST :",max(lst))

[10, 20, 4, 45, 99]
SECOND LARGEST : 45

# **12. To print even no.s from a list**

In [ ]:
lst = [10,21,4,45,66,93]
print(lst)
for num in lst:
  if num%2 == 0:
    print(num,end=" ")

[10, 21, 4, 45, 66, 93]
10 4 66

# **13. To print odd no.s from a list**

In [ ]:
lst = [10,21,4,45,66,93]
print(lst)
for num in lst:
  if num%2 != 0:
    print(num,end=" ")

[10, 21, 4, 45, 66, 93]
21 45 93

# **14. To find N largest no. elements in a list**

In [ ]:
lst = [1000,298,3579,100,200,-45,900]
n = int(input("Enter no. of largest elements you want from list : "))
lst.sort()
print(lst[-n:])

Enter no. of largest elements you want from list : 3
[900, 1000, 3579]

# **15. To print all negative no.s from a list**

In [ ]:
# Method 1:-Using for loop

lst = [11,-21,0,45,66,-93]
for i in lst:
  if i < 0:
    print(i,end=' ')

-21 -93

In [ ]:
# Method 2:-Using 'while' loop

lst = [11,-21,0,45,66,-93]
i = 0
while i<len(lst):
  if lst[i] < 0:
    print(lst[i],end=' ')
    i += 1

# **16. To print all positive no.s from a list**

In [ ]:
# Method 1:-Using for loop

lst = [11,-21,0,45,66,-93]
for i in lst:
  if i >= 0:
    print(i,end=' ')

11 0 45 66

In [ ]:
# Method 2:-Using 'while' loop

lst = [11,-21,0,45,66,-93]
i = 0
while i<len(lst):
  if lst[i] >= 0:
    print(lst[i],end=' ')
    i += 1

# **17. To remove the elements from a list**

In [ ]:
# Lets say we want to remove all even no.s

lst = [11,5,17,18,23,50,45,20,69]
print("Before Removing :",lst)
for num in lst:
  if num % 2 == 0:
    lst.remove(num)
print("After Removing :",lst)

Before Removing : [11, 5, 17, 18, 23, 50, 45, 20, 69]
After Removing : [11, 5, 17, 23, 45, 69]

In [ ]:
# Using slicing technique

lst = [11,5,17,18,23,50,45,20,69]
print("Before Removing :",lst)
del lst[2:7]
print("After Removing :",lst)

Before Removing : [11, 5, 17, 18, 23, 50, 45, 20, 69]
After Removing : [11, 5, 20, 69]

# **18. To remove empty list from a list**

In [ ]:
# Method 1:-

lst = [6,5,[],3,[],[],9]
print("Before :",lst)
res = [ele for ele in lst if ele!=[]]
print("After :",res)

Before : [6, 5, [], 3, [], [], 9]
After : [6, 5, 3, 9]

In [ ]:
# Method 2:-Using filter() i.e., we filter the None values from a list 

lst = [6,5,[],3,[],[],9]
print("Before :",lst)
res = list(filter(None,lst))
print("After :",res)

Before : [6, 5, [], 3, [], [], 9]
After : [6, 5, 3, 9]

# **19. Cloning or Copying a list**

In [ ]:
# Method 1:-

def cloning(lst1):
  copy_lst = lst1
  return copy_lst
lst1 = [4,8,2,10,15,18]
lst2 = cloning(lst1)
print("List 1 :",lst1)
print("List 2 :",cloning(lst1))

List 1 : [4, 8, 2, 10, 15, 18]
List 2 : [4, 8, 2, 10, 15, 18]

In [ ]:
# Method 2:-Using extend() fn

def copying(list1):
  copy_list = []
  copy_list.extend(list1)
  return copy_list
lst1 = [4,8,2,10,15,18]
lst2 = cloning(lst1)
print("List 1 :",lst1)
print("List 2 :",cloning(lst1))

List 1 : [4, 8, 2, 10, 15, 18]
List 2 : [4, 8, 2, 10, 15, 18]

In [ ]:
# Method 3:-Using append() fn

def copying(list1):
  copy_list = []
  copy_list.append(list1)
  return copy_list
lst1 = [4,8,2,10,15,18]
lst2 = cloning(lst1)
print("List 1 :",lst1)
print("List 2 :",cloning(lst1))

List 1 : [4, 8, 2, 10, 15, 18]
List 2 : [4, 8, 2, 10, 15, 18]

In [ ]:
# Method 4:-Using append() fn

def copying(list1):
  copy_list = list1.copy()
  return copy_list
lst1 = [4,8,2,10,15,18]
lst2 = cloning(lst1)
print("List 1 :",lst1)
print("List 2 :",cloning(lst1))

List 1 : [4, 8, 2, 10, 15, 18]
List 2 : [4, 8, 2, 10, 15, 18]

# **20. To remove empty tuples from a list**

In [ ]:
# Method 1:-

def remove(lst):
  tuples = [ele for ele in lst if ele!=()]
  return tuples
lst = [(),('ram','15','8'),(),('laxman','sita'),('krishna','arjun','45'),(' ',' '),()]
print("Before :",lst)
print("After :",remove(lst))

Before : [(), ('ram', '15', '8'), (), ('laxman', 'sita'), ('krishna', 'arjun', '45'), (' ', ' '), ()]
After : [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'arjun', '45'), (' ', ' ')]

In [ ]:
# Method 2:-Using filter()

def Remove(lst):
  result = list(filter(None,lst))
  return result
lst = [(),('ram','15','8'),(),('laxman','sita'),('krishna','arjun','45'),(' ',' '),()]
print("Before :",lst)
print("After :",remove(lst))

Before : [(), ('ram', '15', '8'), (), ('laxman', 'sita'), ('krishna', 'arjun', '45'), (' ', ' '), ()]
After : [('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'arjun', '45'), (' ', ' ')]

# **21. Counting occurences of an element in a list**

In [ ]:
# Method 1:-

def Count(lst,num):
  count = 0
  for ele in lst:
    if ele == num:
      count += 1
  return count
lst = [8,6,8,10,8,20,8,6,10,10,6]
num = int(input("Enter no. : "))
print(num,"has occured",Count(lst,num),"times")

Enter no. : 10
10 has occured 3 times

In [ ]:
# Method 2:-Using count()

def CountX(lst,num):
  return lst.count(num)
lst = [8,6,8,10,8,20,8,6,10,10,6]
num = int(input("Enter no. : "))
print(num,"has occured",Count(lst,num),"times")

Enter no. : 10
10 has occured 3 times

# **22. To print duplicates from a list**

In [ ]:
# Method 1:-

def Duplicate(lst):
  size = len(lst)
  duplicates = []
  for i in range(size):
    k = i+1
    for j in range(k,size):
      if lst[i] == lst[j] and lst[i] not in duplicates:
        duplicates.append(lst[i])
  return duplicates
lst = [10,20,30,20,20,30,40,50,-20,60,60,-20,-20]
print(lst)
print(Duplicate(lst))

[10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
[20, 30, -20, 60]

In [ ]:
# Method 2:-Using Counter() from collection module

from collections import Counter
lst = [10,20,30,20,20,30,40,50,-20,60,60,-20,-20]
print(lst)
d = Counter(lst)
new_List = [item for item in d if d[item]>1]
print(new_List)

[10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
[20, 30, -20, 60]

# **23. To find the cummulative sum of a list**

In [ ]:
lst = [10,20,30,40,50]
print(lst)
res = []
sum = 0
for i in lst:
  sum += i 
  res.append(sum)
print(res)

[10, 20, 30, 40, 50]
[10, 30, 60, 100, 150]

# **24. Sum of number digit in a list**

In [11]:
# EX:- 17 => 1+7=8   45 => 4+5=9

lst = [12,67,98,34]
print(lst)
res = []

for ele in lst:
  Sum = 0
  for digit in str(ele):
    Sum += int(digit)
  res.append(Sum)
print(res)

[12, 67, 98, 34]
[3, 13, 17, 7]

# **25. To break a list into chunks of size 'n'**

In [32]:
lst = [1,2,3,4,5,6,7,8,9,0]
print(lst)
n = int(input("Enter the size : "))
res = [lst[i:i+n] for i in range(0,len(lst),n)]
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
Enter the size : 3
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [0]]